@font-face {
	font-family: BluuNextBI;
	font-style: normal;
	font-weight: 400;
	src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/69c1881c210f957f111cb723f3909aa664f5ab2b/Fonts/BluuNext/BluuNext-Bolditalic.otf);
}
