@font-face {
 font-family: Hyperscript;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/3586bf826f6a2bdff97f49816fc42feae6a89758/Fonts/HyperScript/HyperScrypt.otf) ;
}
