@font-face {
 font-family: KRAKOANfan;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/69397877f4fe75895e8fa2a643fe4ad00b69ab04/Third%20Party%20Fonts/Krakoan/Krakoan%20Fan%20Script/Krakoan_Fan_Script_v1.9/KrakoanFanScript-Regular.ttf) ;
}
