@font-face {
	font-family: JBR;
	font-style: normal;
	font-weight: 400;
	src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/f23c3ff9e734b41885c70b51bd0db101cd08611f/Fonts/JetBrains/JetBrainsMono-Regular.ttf);
}
