@font-face {
	font-family: jof;
	font-style: normal;
	font-weight: 400;
	src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/f3697832dad452adc6a083ef686813bc18b72b3b/Fonts/Jugendstil%20Ornamente/JugendstilOrnamente.ttf);
}
