/*
* ========================================================
* CUSTOM FONT FACES
* ========================================================
* Loads all custom fonts used throughout the theme.
*/

@font-face {
    font-family: J25;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/5e6883aa5e47c39bb8f1b8d5fbe83718c7630441/Third%20Party%20Fonts/Jersey%2025/Jersey25-Regular.ttf);
}

@font-face {
    font-family: J24;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/5e6883aa5e47c39bb8f1b8d5fbe83718c7630441/Third%20Party%20Fonts/Jacquard%2024/Jacquard24-Regular.ttf);
}

@font-face {
    font-family: BoecklinsUniverse;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/e122d3f66cc944371db4fb5486040b5bbaf2e540/Fonts/Boecklins%20Universe/Boecklins%20Universe.ttf);
}

@font-face {
    font-family: OptimusPrinceps;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/8d764d47edffa3e4a29e5cb48a2e6e2dcb993d1e/Fonts/Optimus%20Princeps%20Font/OptimusPrinceps.ttf);
}

@font-face {
    font-family: Floral;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/6b670497226d108c013964510f3c60a807c7499b/Fonts/Floral%20Caps%20Nouveau/FloralCapsNouveau.ttf);
}

/*
* ========================================================
* HEADING STYLES
* ========================================================
* Styles for all heading elements and article titles.
*/

.user-css .heading h1.world-title {
    font-family: J24;
    color: gold;
    font-weight: 1;
    text-transform: capitalize;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.user-css .article-title h1 {
    font-family: J24;
    color: gold;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 0.9em;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.user-css h2,
.user-css-extended .page h2,
.user-css-map-sidebar h2,
.user-css-presentation .tooltipster-content h2 {
    font-family: J25;
    color: var(--ProsperousBlue);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 50px;
    padding: 0 10px;
    text-align: center;
    font-weight: 1;
}

.user-css h3,
.user-css-extended h3,
.user-css-map-sidebar h3 {
    font-family: J25;
    color: gold;
    text-transform: capitalize;
    font-weight: 1;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 0.9em;
    margin-top: 20px;
    margin-bottom: 5px;
}

.user-css h4,
.user-css-extended .page h4,
.user-css-map-sidebar h4,
.user-css .timeline li .timeline-panel h4,
.user-css .timeline li .milestone-panel h4,
.user-css-extended .timeline li .timeline-panel h4,
.user-css-extended .timeline li .milestone-panel h4,
.user-css-presentation .tooltipster-content h4 {
    font-family: J25;
    color: var(--LCARSDarkLavendar);
    font-size: 25px;
}

.user-css h5,
.user-css-extended .page h5,
.user-css-map-sidebar h5,
.user-css .timeline li .timeline-panel h5,
.user-css .timeline li .milestone-panel h5,
.user-css-extended .timeline li .timeline-panel h5,
.user-css-extended .timeline li .milestone-panel h5,
.user-css-presentation .tooltipster-content h5 {
    font-family: J24;
    color: var(--CaptainYellow);
    font-size: 40px;
    text-transform: capitalize;
}

h6 {
    font-family: Floral;
    color: white;
    font-size: 29px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

.tabholder h2,
.tabholder h3,
.tabholder h4,
.tabholder h5 {
    color: gold !important;
}

/*
* ========================================================
* LINK STYLES
* ========================================================
*/

.user-css a,
.user-css a:focus,
.user-css-extended .page a,
.user-css .artist-credits a,
.user-css .timeline li .timeline-panel a,
.user-css .timeline li .milestone-panel a,
.user-css-extended .timeline li .timeline-panel a,
.user-css-extended .timeline li .milestone-panel a,
.user-css-presentation .tooltipster-content a {
    color: #FF8C00 !important;
    font-family: Times;
    text-shadow: 0px 0px 2px var(--StarCy);
}

/*
* ========================================================
* TEXT DECORATION STYLES
* ========================================================
*/

.user-css .text-abbreviation {
    text-decoration-line: none;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    color: gold !important;
    font-family: J25;
}

.user-css small {
    font-family: Times New Roman;
    font-variant: small-caps !important;
    text-transform: initial;
    font-size: 14px;
}

.user-css b {
    font-weight: 100;
}

.user-css .dropcap {
    font-family: Floral;
}

/*
* ========================================================
* BOOK WIDGET STYLES
* ========================================================
* Styles for book covers and book titles.
*/

.user-css .bookcover {
    margin: 0;
    display: inline-block;
    width: 300px;
    height: 255px;
    text-align: center;
    position: relative;
    background: #000;
}

.user-css .booktitle {
    background: var(--ember-danger-d);
    color: var(--ember-white);
    font-family: J25;
}

/*
* ========================================================
* WORLD ANVIL ASSET STYLES
* ========================================================
* Styles for global assets and statblocks.
*/

.statblock {
    background: black;
    opacity: 0.5;
    color: white !important;
    padding: 20px;
    border: 1px solid #000;
    position: relative;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #290707;
    border-radius: 4px;
    font-family: J25;
}

.user-css .article-panel .heading {
    font-family: Times;
    font-weight: bold;
    color: #FF8C00;
    text-transform: capitalize;
    font-style: normal;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
}

.user-css .article-subheading,
.user-css .article-title-author {
    text-align: center;
    font-style: italic;
    font-family: Times New Roman, Times, serif;
}

/*
* ========================================================
* ARTICLE CONTENT STYLES
* ========================================================
* Styles for main article content, sidebars, and blockquotes.
*/

@media only screen and (min-width: 992px) {
    .user-css .article-content .row .col-md-8+.col-md-4 {
        position: sticky;
        top: 10px;
        max-height: 100vh;
        overflow-y: auto;
        border: 1px solid gray;
        background: black;
        background-position: center;
        background-size: cover;
        background-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/user-data/production/bd9aa158-359c-4986-b5cb-4be7871d2c3f/uploads/images/d5d7228ad1dc885f216d40ac38140d4b.jpeg);
        -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.5);
        box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.5);
        z-index: 1050;
    }

    .user-css.page {
        overflow: unset;
    }
}

div.articletoc[data-component=article_toc] {
    border: 1px solid #ccc;
    display: inline-block;
    color: orange;
    background-image: url(https://www.worldanvil.com/uploads/images/808f9aa638f267cef8733cffb3ca3d67.png);
    padding: 5px 10px;
}

.user-css blockquote {
    background: rgb(0, 0, 0);
    padding: 30px;
    margin: 2px;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: 7px;
    border-left: 10px solid yellow;
    font-family: Times New Roman;
    font-style: normal;
}

.user-css,
.user-css p,
.user-css-extended,
.user-css-extended p,
.user-css-map-sidebar p,
.user-css .calendar-presentation sup,
.user-css .timeline li .timeline-panel p,
.user-css .timeline li .milestone-panel p,
.user-css-extended .timeline li .timeline-panel p,
.user-css-extended .timeline li .milestone-panel p,
.user-css-extended dl {
    color: var(--WeatheredGrey);
    font-family: Times New Roman;
}

.user-css-presentation .article-content,
.user-css p {
    font-family: Times New Roman;
}

/*
* ========================================================
* BACKGROUND IMAGE STYLES
* ========================================================
* Sets background images for main page and presentation mode.
*/

.user-css.page {
    background-image: url(https://www.worldanvil.com/uploads/images/538754e7f51d7ad86e3c1ba46776c0f0.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 0;
    border-color: black;
}

.user-css-presentation {
    background-image: url(https://www.worldanvil.com/uploads/images/808f9aa638f267cef8733cffb3ca3d67.png);
}

/*
* ========================================================
* DECORATIVE HORIZONTAL RULE
* ========================================================
* Golden bar image for <hr> elements.
*/

.user-css hr {
    border: none;
    margin: 0;
    height: 50px;
    background: url(https://www.worldanvil.com/uploads/images/8bae77c1823ae18b6aee526d38e4e506.png) center no-repeat;
    background-size: contain;
}

/*
* ========================================================
* FAMILY TREE STYLES
* ========================================================
* Styles for custom family tree and bloodline widgets.
*/

.user-css .rhea-family-tree {
    border: 10px double var(--CaptainYellow);
    border-top: 10px solid var(--CaptainYellow);
    border-bottom: 10px solid var(--CaptainYellow);
    background-color: transparent;
}

.user-css .rhea-family-tree .rhea-character-node .character-data .character-name {
    background-color: #900303;
    color: white;
    font-size: 12px;
    font-family: Times New Roman;
    font-weight: normal;
    border-color: transparent;
    border-radius: 40px;
    padding: 6px 10px;
    text-transform: capitalize;
}

.rhea-family-tree .rhea-character-node .character-label .character-title {
    font-family: OptimusPrinceps;
    font-size: var(--characterHonorificSize);
    line-height: var(--characterHonorificLineHeight);
    color: #900303;
    display: block;
}

.rhea-family-tree .rhea-character-node .character-label {
    background: black;
    color: #483e09;
    font-family: sans-serif;
    font-size: 0.8em;
    padding: var(--characterNamePadding);
    display: block;
    border: var(--characterNameBorder);
    border-radius: 10px;
    z-index: 200;
}

.rhea-family-tree .rhea-character-node .character-data {
    margin-top: 0;
    text-align: center;
    position: relative;
    z-index: 100;
}

.rhea-bloodline .rhea-character-node .character-label .character-title {
    font-family: Times New Roman;
    font-size: var(--characterHonorificSize);
    line-height: var(--characterHonorificLineHeight);
    color: #900303;
    display: block;
}

.rhea-bloodline .rhea-character-node .character-label .character-name {
    background-color: #900303;
    color: white;
    font-size: 12px;
    font-family: Times New Roman;
    font-weight: normal;
    border-color: transparent;
    border-radius: 40px;
    padding: 6px 10px;
    text-transform: capitalize;
}

.rhea-bloodline .rhea-character-node .character-label {
    background: black;
    color: #483e09;
    font-family: Times New Roman;
    font-size: 0.8em;
    padding: var(--characterNamePadding);
    display: block;
    border: var(--characterNameBorder);
    border-radius: 10px;
    z-index: 200;
}

/*
* ========================================================
* CALENDAR WIDGET STYLES
* ========================================================
* Styles for calendar navigation in articles.
*/

.user-css .calendar-presentation .nav-item a {
    background: var(--LCARSDarkLavendar);
    color: var(--NighWhite);
    font-family: BoecklinsUniverse;
    font-size: 18px;
    font-weight: normal;
    border-radius: 0;
    padding: 15px;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

/*
* ========================================================
* TABBED CONTENT STYLES
* ========================================================
* Styles and animations for tabbed content sections.
*/

/* Tab Animations */
@-webkit-keyframes forward {
    from {}
    to { z-index: 5; }
}

@keyframes forward {
    from {}
    to { z-index: 5; }
}

@-webkit-keyframes back {
    from {}
    to { z-index: -10; }
}

@keyframes back {
    from {}
    to { z-index: -10; }
}

/* Tab Button Styles */
.tabholder .spoiler-button {
    display: inline-block;
    background: gray;
    color: gold !important;
    font-family: Times New Roman;
    border: 1px solid #a08264;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.tabholder .spoiler-button:focus {
    background: #8b0000 !important;
}

/* Tab Content Styles */
.tab1,
.tab2,
.tab3,
.tab4,
.tab5,
.tab6,
.blanktab {
    -webkit-animation-name: forward;
    animation-name: forward;
    -webkit-animation-duration: 1ms;
    animation-duration: 1ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    background: black !important;
    color: white !important;
    font-family: Times New Roman;
    border: 1px solid #a08264;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 15px;
    margin-top: 0;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 40px;
    display: none;
    z-index: -1;
    overflow-y: auto;
}

/* Display Tab 1 by default */
.tab1 {
    display: block;
    z-index: 1;
}

/* Base Z-index and background for the blank tab */
.blanktab {
    z-index: 0;
    background: gray !important;
}

/* Tab Container Styles */
.tabholder {
    margin-bottom: 50px;
    height: 500px;
    position: relative;
    width: 100%;
    border: 1px solid #a08264;
    border-radius: 3px;
}

.tabholder h2,
.tabholder h3,
.tabholder h4,
.tabholder h5 {
    color: black !important;
}

/* Hide spoiler content in tabs */
.tabholder .well,
.tabholder .collapse.in,
.tabholder .collapsing,
.tabholder .card {
    display: none;
}

/* Tab Focus Animations */
.tabholder .spoiler-button:nth-of-type(1):focus~.tab1,
.tabholder .spoiler-button:nth-of-type(2):focus~.tab2,
.tabholder .spoiler-button:nth-of-type(3):focus~.tab3,
.tabholder .spoiler-button:nth-of-type(4):focus~.tab4,
.tabholder .spoiler-button:nth-of-type(5):focus~.tab5,
.tabholder .spoiler-button:nth-of-type(6):focus~.tab6 {
    -webkit-animation-name: forward;
    animation-name: forward;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    display: block;
    z-index: 1;
}

.tabholder .spoiler-button:nth-of-type(1):focus~.tab2,
.tabholder .spoiler-button:nth-of-type(1):focus~.tab3,
.tabholder .spoiler-button:nth-of-type(1):focus~.tab4,
.tabholder .spoiler-button:nth-of-type(1):focus~.tab5,
.tabholder .spoiler-button:nth-of-type(1):focus~.tab6,
.tabholder .spoiler-button:nth-of-type(2):focus~.tab1,
.tabholder .spoiler-button:nth-of-type(2):focus~.tab3,
.tabholder .spoiler-button:nth-of-type(2):focus~.tab4,
.tabholder .spoiler-button:nth-of-type(2):focus~.tab5,
.tabholder .spoiler-button:nth-of-type(2):focus~.tab6,
.tabholder .spoiler-button:nth-of-type(3):focus~.tab1,
.tabholder .spoiler-button:nth-of-type(3):focus~.tab2,
.tabholder .spoiler-button:nth-of-type(3):focus~.tab4,
.tabholder .spoiler-button:nth-of-type(3):focus~.tab5,
.tabholder .spoiler-button:nth-of-type(3):focus~.tab6,
.tabholder .spoiler-button:nth-of-type(4):focus~.tab1,
.tabholder .spoiler-button:nth-of-type(4):focus~.tab2,
.tabholder .spoiler-button:nth-of-type(4):focus~.tab3,
.tabholder .spoiler-button:nth-of-type(4):focus~.tab5,
.tabholder .spoiler-button:nth-of-type(4):focus~.tab6,
.tabholder .spoiler-button:nth-of-type(5):focus~.tab1,
.tabholder .spoiler-button:nth-of-type(5):focus~.tab2,
.tabholder .spoiler-button:nth-of-type(5):focus~.tab3,
.tabholder .spoiler-button:nth-of-type(5):focus~.tab4,
.tabholder .spoiler-button:nth-of-type(5):focus~.tab6,
.tabholder .spoiler-button:nth-of-type(6):focus~.tab1,
.tabholder .spoiler-button:nth-of-type(6):focus~.tab2,
.tabholder .spoiler-button:nth-of-type(6):focus~.tab3,
.tabholder .spoiler-button:nth-of-type(6):focus~.tab4,
.tabholder .spoiler-button:nth-of-type(6):focus~.tab5 {
    -webkit-animation-name: back;
    animation-name: back;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    display: none;
}

/* Button Style Override */
.user-css .btn-primary,
.user-css-extended .btn-primary {
    background: #8b0000 !important;
}

/*
* ========================================================
* TABLE STYLES
* ========================================================
* Styles for tables and statblocks.
*/

.user-css .statblock .table tr td,
.user-css .table tr td,
.user-css-extended .table tr td,
.user-css-rpgblock .table tr td {
    color: gold;
    background: black;
}

.user-css .table th,
.user-css .table td,
.user-css .table tr,
.user-css-rpgblock .table th,
.user-css-rpgblock .table td,
.user-css-rpgblock .table tr,
.user-css-extended .table th,
.user-css-extended .table td,
.user-css-extended .table tr {
    border: 1px solid red !important;
}