@font-face {
 font-family: OptimusPrinceps;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/8d764d47edffa3e4a29e5cb48a2e6e2dcb993d1e/Fonts/Optimus%20Princeps%20Font/OptimusPrinceps.ttf) ;
}
