@font-face {
	font-family: Floral;
	font-style: normal;
	font-weight: 400;
	src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/6b670497226d108c013964510f3c60a807c7499b/Fonts/Floral%20Caps%20Nouveau/FloralCapsNouveau.ttf);
}
