@font-face {
	font-family: DANR;
	font-style: normal;
	font-weight: 400;
	src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/dc9a283975fa22152f90a339cb920ceca36da073/Fonts/Davison%20Art%20Nouveau/DaveauRegular.otf);
}
