@font-face {
	font-family: DANR;
	font-style: normal;
	font-weight: 400;
	src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/a35629b320e6727eb0cd89f1de0ba1edb6a55dcc/Fonts/Davison%20Art%20Nouveau/DaveauRegular-BWRZx.otf);
}
