@font-face {
 font-family: Isabella;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/50445c8bde03afd073ee3cba25c5b1e4d1bcd7da/Fonts/Isabella%20Font/Isabella.ttf) ;
}
