@font-face {
 font-family: Boecklins;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/2f1663bc4d7fce160b2dd84be8906d742a1051bb/Fonts/Boecklins%20Universe/Boecklins%20Universe.ttf) ;
}
