@font-face {
 font-family: KRAKOAN;
 font-style: normal;
 font-weight: 400;
 src: url(https://rawcdn.githack.com/ford-from-the-future/WorldAnvil-World-Stuff/aae5e02c4f6e994903045691c7bd7f4f921e1708/Third%20Party%20Fonts/Krakoan/KRAKOANbeta-Regular.otf) ;
}
